body{
    background-color:orange;
}
.head{
    color: darkblue;
}
#bglime{
    background-color: lime;
}
.bold{
    color: red;
}
p{
    color: white;
}
#para{
    color: green;
    font-size: large
}
.para1{
    color: black;
}
ul:first-of-type li span{
    background-color: yellow;
}
ul:last-of-type li span{
    background-color: blue;
}
ol li:nth-child(2) span{
    color:blue;
}
ol li:nth-child(3) span{
    color:red;
}
ol li:nth-child(4) span{
    color: blueviolet;
}